* {
    box-sizing: border-box;
    font-family: "標楷體";
}

body>main>* {
    border: 1px solid #ccc;
}

body>main {
    padding: 0 12px;
    width: 1024px;
    height: 768px;
    /* background-color: gray; */
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;



    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

main>.top {
    flex-basis: 1000px;
    height: 65px;
    /* background-color: red; */
}

main>.aside {
    /* display: inline-block; */
    flex-basis: 215px;
    /* height: calc(100% - 65px - 20px); */
    height: calc(768px - 65px - 20px);
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
}

.aside>* {
    border: 1px solid #ccc;
}

.aside>.menu {
    flex-basis: calc(100% - 25px);
}

.menu>div {
    font-size: 24px;
    text-decoration: underline;
    margin: 20px auto;
    color: #f0f;
}

.menu>a {
    display: block;
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-image: url(../images/menu1.png);
    width: 200px;
    height: 35px;
    padding: 6px ;
    margin: 5px auto;
    text-decoration: none;
}

.menu>a:hover{
    background-image: url(../images/menu2.png);
}

.aside>.update {
    flex-basis: 25px;
    font-size: 16px;
    text-align: center;
    padding-top: 4px;
}

main>.section {
    /* display: inline-block; */
    flex-basis: calc(100% - 215px);
    /* height: calc(100% - 65px - 20px); */
    height: calc(768px - 65px - 20px);
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
}

.section>* {
    border: 1px solid #ccc;
}

.section>.marquee {
    flex-basis: 29px;
    font-size: 24px;
    color: #00f;
    /* padding: 5px auto; */
    padding-top: 5px;
}

.section>.content {
    flex-basis: calc(100% - 29px);   
}

.content>iframe{
    width: 100%;
    height: 100%;
}

main>.footer {
    flex-basis: 1000px;
    height: 20px;
}