/* h1{
    color: blue;
} */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 1024px;
    padding: 0 12px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}




/* top */
.top {
    flex-basis: 1000px;
    height: 65px;
    border: 1px solid black;
    border-bottom: 0px;
}

/* aside */
.aside {
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    border-right: 0px;

    display: flex;
    flex-direction: column;
}

.aside>.menu {
    /* height: calc (100% - 25px); */
    border: 1px solid #ccc;
    flex-basis: calc(100% - 25px);
}

.aside>.update {
    /* height: 25px; */
    border: solid 1px #ccc;
    flex-basis: 25px;
}

/* section */
.section {
    /* flex-basis: 770px; */
    flex-basis: calc(100% - 215px);
    /* height: calc(768px - 65px - 20px); */
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.section>.marquee {
    height: 29px;
    border: #ccc 1px solid;
}

.section>.content {
    height: calc(100% - 29px);
    border: 1px #ccc solid;
}



/* footer */
.footer {
    flex-basis: 1000px;
    height: 20px;
    border: 1px solid black;
    border-top: 0px;
}